// vars
$mainColor: #236068;
$secondColor: #393e40;
$textColor: #666f73;
$textColorGrey: #808080;
$textColorGreen: #236068;

// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";

// styles
@import "sections/header";
@import "sections/footer"; 
@import "sections/about"; 
     
// code
/*.main {
    @include flexbox();
}*/  
   