.bloque {
}
.bloque-element {
    @include flexbox(); 
    @include flex-direction(row-reverse); 
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-bottom: -2px;
}
.bloque-element:nth-child(even) {
    @include flex-direction(row);
}
.bloque-element_img {
    width: 50%;
    img {
        width: 100%;
        height: 100%;
    }
}
.bloque-element_text {
    width: 50%;
    padding: 0 80px 0 60px;
}
.bloque-element_footer {
    @include flexbox();
    @include justify-content(space-between);
    .socials_links {
        padding: 0;
    }
    
}
.read-more {
    color: $mainColor;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    text-decoration: none;
}
.read-more:hover {
    text-decoration: underline;
}
/* ----========== BLOGUE ELEMENT  =========----*/
.bloque-element_text {
    @include flexbox();
    @include flex-direction(column);    
    @include justify-content(space-between);
    padding-top: 35px;
    padding-bottom: 35px;
}
.date {
    font-family: 'Exo2-Regular';
    color: #999999;
}
.solutions-text {
    .regular-text {
        margin: 15px 0 0;
        line-height: 20px;
    }
}
.bloque-element_footer {
    margin-top: 55px;
    .fb {
        width: 25px;
        height: 25px;
        background: url(../img/fb_s.png) center no-repeat;
    }
    .vk {
        width: 23px;
        height: 23px;
        background: url(../img/vk_s.png) center no-repeat;
    }
}
/* ----========== PAGINATION  =========----*/
.pagination {
    @include flexbox();
    @include justify-content(center);
    margin: 65px 0;
    li {
        @include flexbox();
        @include align-items(center);
        padding: 5px;
        
    }
    a {
        font-family: 'OpenSans-Bold';
        color: #999999;
        text-decoration: none;
        padding: 0 5px;
        
    }
}

.pagination_arrow svg { 
    transition: 0.2s;
    stroke: $mainColor; fill: rgba(0,0,0,0) ;
}
.pagination_arrow a:hover svg { 
    stroke: #fff;
    fill: rgba(0,0,0,0) ;
}
.pagination_arrow a {
    transition: 0.2s;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    color: $mainColor;
    border: 1px solid $mainColor;
    width: 40px;
    height: 40px;
} 
.pagination_arrow a:hover {
    background-color: $mainColor;
    color: #fff;
    border: 1px solid $mainColor;
}
.pagination_arrow:first-child {
    margin-right: 20px;
}
.pagination_arrow:last-child {
    margin-left: 20px;
    transform: rotate(180deg);
}
.pagination_active a {
    color: $mainColor;
}