.catalog {
    @include flexbox();
    @include align-items(flex-start);    
    .pagination {
        margin: 0;
    }
}
.categories {
    width: 280px;
    background-color: #fafafa;
    padding: 20px;
    ul {
        padding: 0;
    }
}
.categories-menu {
    margin-top: 10px;
    margin-bottom: 20px;
}
.categories-menu_item, .products-group_title, .products-group_list-item{
    margin-bottom: 20px;
}
.categories-menu_item, .products-group_title {
    padding-left: 20px;
}
.categories-menu_link, .products-group_title {
    font-size: 13px;
    font-family: 'OpenSans-Bold';
    color: $mainColor;
    text-transform: uppercase;
    text-decoration: none;
}
.products-group_title {
    cursor: pointer;
}
.products-group_list {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.products-clicked {
	height: 100%;
    opacity: 1;
    
}
.products-group_list-item {
    @include flexbox();
    @include align-items(center);
}
.item-name {
    width: 200px;
    margin: 0;
    padding-left: 10px;
    cursor: default;
    color: #4c4c4c;
}
.item-checkbox {
    transition: 0.2s;
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
    border: 5px solid #e6e6e6;
    cursor: pointer;
}
.list-item_active {
    .item-checkbox {
    background-color: #b3b3b3;
}
}
.item-checkbox:hover {
    background-color: #b3b3b3;
}


.categories-menu {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
} 
/* ----========== CATALOG VIEW  =========----*/
.catalog-main {
    width: 880px;
    margin-left: 20px;
    padding-bottom: 80px;
}
.catalog-main_header {
    background-color: #fafafa;
    @include flexbox();
    @include justify-content(space-between);
    padding: 30px;
    margin-bottom: 20px;
    .pagination li {
        padding: 2px;
    }
    .pagination_active a {
        color: #4c4c4c;
    }
}
.catalog-main_list {
    @include flexbox();
    flex-wrap: wrap;
}
/* ----========== CATALOG HEAD  =========----*/
.sorting {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    font-size: 12px;
    letter-spacing: 0.5px;
}
.sorting_name, .sorting_item {
    margin-right: 25px;
    font-family: 'Open Sans';
}
.sorting_item {
    cursor: pointer;
}
.sorting_active {
    font-family: 'OpenSans-Bold';
    color: #4c4c4c;
}
/* ----========== CATALOG ITEM  =========----*/
.catalog-item {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    position: relative;
    text-align: center;
    width: 33.33%;
    background-color: #fff;
    padding-top: 25px;
    h4, h3 {
        padding-top: 20px;
        margin: 0;
    }
}
.catalog-item_img-wrapper {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    height: 230px;
    width: 100%;
    overflow: hidden;
    img {
        height: 100%;
    }
}
.catalog-item:nth-child(3n+2) {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.catalog-item:hover {
    z-index: 10;
    box-shadow: 0px 15px 25px 0px rgba(51, 51, 51, 0.2);
}
.catalog-item::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -1px;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #fff;
}
/* ----========== ITEM DATA  =========----*/
.catalog-item_article {
    font-size: 12px;
    font-family: 'OpenSans-Light';
    color: #999999;
    letter-spacing: 0.4px;
}
.catalog-item_name {
    padding: 15px 25px;
    font-family: 'OpenSans-Semibold';
    color: $mainColor;
    font-size: 18px;
    letter-spacing: 0.6px;
    text-decoration: none;
}
h4.catalog-item_price {
    padding: 15px 0;
    font-family: 'Open Sans';
}
/* ----========== BUTTON ADD TO CART  =========----*/
.button-regular_cart {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    height: 60px;
    background-color: $mainColor;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    opacity: 0;
    height: 60px;
    line-height: 60px;
    span {
        position: absolute;
        left: 55px;
        height: 60px;
        width: 150px;
        background: url(../img/basket_button.png) right no-repeat;
    }
    
}
.button-regular_cart::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -1px;
    content: "";
    z-index: 10;
    height: 20px;
    width: 1px;
    background-color: #d5d5d5;
}
.button-regular_cart::after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: -1px;
    content: "";
    z-index: 10;
    height: 20px;
    width: 1px;
    background-color: #d5d5d5;
}
.catalog-item:hover .button-regular_cart {
    opacity: 1;
}

