.footer {
    background-color: #2e2e2e;
    color: rgba(115,115,115,1);
    font-family: 'Open Sans';
}
/* ----========== SUBSCRIBE =========----*/
.footer-subscribe {
    background-color: $secondColor;
}
.footer-subscribe .container{
    @include flexbox();
    @include justify-content(center);
    padding: 10px 0;
    background-color: $secondColor;
}
.footer-subscribe_text {
    @include flexbox();
    @include align-items(center);
    padding: 0 50px;
}
.footer_search .search_block {
    width: 315px;
    height: 50px;
    input {
        padding-left: 40px;
    }
}
.footer_search .submit input {
    font-size: 10px; 
    font-family: 'OpenSans-Bold';
    letter-spacing: 1px;
}
.footer_search .submit {
    background-color: $mainColor;
    width: 180px;
}
/* ----========== FOOTER MAIN =========----*/
.footer-main .container {
    @include flexbox();
    padding: 85px 0 50px;
    border-bottom: 1px solid $secondColor;
}
.footer-main_logo, .footer-main_nav, .footer-main_contacts, .footer-main_socials {
    width: 25%;
}
.footer-main_logo .logo{
    background-color: #2e2e2e;
    padding-left: 0;
}
.footer-main_logo .logo h2 {
    margin: 0;
    font-size: 16px;
    color: $textColor;
    letter-spacing: 9px;
}
.sub-menu_item {
    padding-bottom: 15px;
}
.sub-menu .sub-menu_item_link {
    transition: 0.2s;
    color: #fff;
    opacity: 0.3;
    text-decoration: none;
}
.sub-menu .sub-menu_item_link.active {
    opacity: 1;
}
.sub-menu .sub-menu_item_link:hover {
    opacity: 1;
}
/* ----========== CONTACTS =========----*/
.footer-main_contacts .contacts_list {
    @include flex-direction(column);
    border-bottom: none;
    padding: 0;
    margin-left: 0;
}
.footer-main_contacts .contacts_list_element {
    font-size: 13px;
    background: none;
    margin: 0;
    padding: 0 0 15px 0;
    color: #fff;
}
/* ----========== SOCIAL =========----*/
.socials_text {
    color: #fff;
}
.socials_links {
    padding-top: 20px;
}
.fb, .vk {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.fb {
    background: url(../img/fb.png) center no-repeat;    
    margin-right: 5px;
}
.vk {
    background: url(../img/vk.png) center no-repeat;    
}


/* ----========== FOOTER BOT =========----*/
.footer-bot .container{
    @include flexbox();
    @include justify-content(space-between);
    padding: 15px 0;
}